/* Highly recommend reading https://css-tricks.com/snippets/css/a-guide-to-flexbox/ to understand orienting elements
according to Flexbox */

:root {
    /* Define global variables */
    --white: rgba(255,255,255,1);
    --black: rgba(26,26,26,1);
    --mainFont: "Gotham Book";
    --mainFontBold: "Gotham Bold";
    --lightFont: "Gotham Light";
    --secondaryFont: Bison;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('src/fonts/GothamBook.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('src/fonts/GothamBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Light';
    src: url('src/fonts/GothamLight.ttf') format('truetype');
}

body {
    background-image: url("src/StartingSoonVersus.png");
    width:100%;
    height:100%;
}

.bodyClass {

}


.timer {
    position: fixed;
    top:20px;
    left:250px;
    width:650px;
}

#timerTxt {
    text-align: left;
    font-size: 80px;
    font-family: var(--mainFont);
    color: var(--black);
}

#nextUpText {
    text-align: center;
    font-size: 40px;
    font-family: var(--secondaryFont);
    color: var(--white);
    margin-block-start: 10px;
    margin-block-end: auto;
    color: var(--white);
}

.Matchup {
    display:flex;
    flex-direction: row;

    position: fixed;
    top:472px;
    left:110px;
    width:1920px;
}

.MatchupText {
    text-align: left;
    font-size: 40px;
    font-family: var(--lightFont);
    color: var(--black);
    margin: 0px 15px 0px 15px;
    letter-spacing: 0.2em;
}

#score {
    font-family: var(--mainFontBold);
}